## Section 1: Combining and Cleaning Data

### `pd.concat()`
- **Purpose**: Combines multiple DataFrames into one.

- **Key Parameter**:
    - `ignore_index`: When set to `True` resets the index so that the resulting DataFrame has a new continuous index.

In [1]:
import pandas as pd

# Department 1 data
df_dept1 = pd.DataFrame({
    'EmployeeID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Michael'],
    'Department': ['Sales', 'Sales', 'Sales'],
    'Salary': [60000, 62000, 61000]
})

# Department 2 data
df_dept2 = pd.DataFrame({
    'EmployeeID': [104, 105],
    'Name': ['David', 'Henry'],
    'Department': ['Marketing', 'Marketing'],
    'Salary': [65000, 67000]
})

# Concatenating the two DataFrames (vertical concatenation)
df_employees = pd.concat([df_dept1, df_dept2], ignore_index=True)
print("Combined DataFrame:")
print(df_employees)

Combined DataFrame:
   EmployeeID     Name Department  Salary
0         101    Alice      Sales   60000
1         102      Bob      Sales   62000
2         103  Michael      Sales   61000
3         104    David  Marketing   65000
4         105    Henry  Marketing   67000

### `rename()`
- **Purpose**: Changes column names to more meaningful or standardized labels.
- **Key Parameter**:
    - `columns`: A dictionary mapping old column names to new names.

In [2]:
# Rename columns to more descriptive names
df_employees_renamed = df_employees.rename(columns={
    'EmployeeID': 'Emp_ID',
    'Name': 'Employee_Name',
    'Department': 'Dept',
    'Salary': 'Annual_Salary'
})
print("\nRenamed DataFrame:")
print(df_employees_renamed)

Renamed DataFrame:
   Emp_ID Employee_Name       Dept  Annual_Salary
0     101         Alice      Sales          60000
1     102           Bob      Sales          62000
2     103       Michael      Sales          61000
3     104         David  Marketing          65000
4     105         Henry  Marketing          67000

### `sort_values()`
- **Purpose**: Sorts the DataFrame by a specific column.
- **Key Parameter**:
    - `by`: Specifies the column(s) to sort by.
    - `ascending`: When set to `False` sorts the data in descending order.

In [ ]:
# Sort by Annual_Salary in descending order
df_sorted = df_employees_renamed.sort_values(by='Annual_Salary', ascending=False)
print("\nDataFrame Sorted by Annual Salary (Descending):")
print(df_sorted)

DataFrame Sorted by Annual Salary (Descending):
   Emp_ID Employee_Name       Dept  Annual_Salary
4     105           Eva  Marketing          67000
3     104         David  Marketing          65000
1     102           Bob      Sales          62000
2     103       Charlie      Sales          61000
0     101         Alice      Sales          60000

## Section 2: Method Chaining

### **Concept**: Combining several DataFrame operations into one continuous expression.

### **Advantages**:
- Improves readability and conciseness.
- Reduces the need for intermediate variables.

### Steps in this chain:
- **Concatenation**: Merges the two department DataFrames.
- **Renaming**: Standardizes column names.
- **Sorting**: Orders the DataFrame by annual salary in descending order.

In [4]:
import pandas as pd

# Department 1 data
df_dept1 = pd.DataFrame({
    'EmployeeID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Michael'],
    'Department': ['Sales', 'Sales', 'Sales'],
    'Salary': [60000, 62000, 61000]
})

# Department 2 data
df_dept2 = pd.DataFrame({
    'EmployeeID': [104, 105],
    'Name': ['David', 'Henry'],
    'Department': ['Marketing', 'Marketing'],
    'Salary': [65000, 67000]
})

# Method chaining: Combine, rename, and sort in descending order of salary.
df_employees = (
    pd.concat([df_dept1, df_dept2], ignore_index=True)
    .rename(columns={
        'EmployeeID': 'Emp_ID',
        'Name': 'Employee_Name',
        'Department': 'Dept',
        'Salary': 'Annual_Salary'
    })
    .sort_values(by='Annual_Salary', ascending=False)
)

print("Combined and Cleaned Employee DataFrame:")
print(df_employees)

Combined and Cleaned Employee DataFrame:
   Emp_ID Employee_Name       Dept  Annual_Salary
4     105         Henry  Marketing          67000
3     104         David  Marketing          65000
1     102           Bob      Sales          62000
2     103       Michael      Sales          61000
0     101         Alice      Sales          60000

## Group Activity: Cleaning an Untidy Sales Dataset Using Method Chaining

### Method Chaining Instructions:
- Remove duplicates.
- Fill missing values with 0.
- Reshape the DataFrame from wide to long format.
- Sort the final DataFrame.

In [10]:
import pandas as pd

df_sales = pd.DataFrame({
    'Product': [
        'Widget A', 'Widget B', 'Widget A', 'Widget C',
        'Widget B', 'Widget A', 'Widget D', 'Widget E',
        'Widget C', 'Widget D', 'Widget B', 'Widget E'
    ],
    'Region': [
        'North', 'South', 'North', 'East',
        'South', 'North', 'West', 'East',
        'Central', 'North', 'West', 'South'
    ],
    'Sales_Q1': [100, 200, 100, 150, None, 100, 180, 210, 140, 190, 205, 220],
    'Sales_Q2': [110, None, 110, 160, 210, 110, 185, 220, 150, 200, 215, 230],
    'Sales_Q3': [105, 205, 105, None, 215, 105, 175, 205, 145, 195, 210, 225],
    'Sales_Q4': [115, 215, 115, 165, 225, None, 190, 215, 155, 205, 220, 235]
})

print("Expanded df_sales DataFrame:")
print(df_sales)


df_sales_cleaned = (
    df_sales
    .drop_duplicates()
    .fillna(0)
    .melt(id_vars= ["Product", "Region"],
          value_vars =['Sales_Q1', 'Sales_Q2', 'Sales_Q3', 'Sales_Q4'],
          #df_sales.columns[2:] does the same thing as typing out the sales columns
          var_name = "Quarter",
          value_name = 'Sales')
    .assign(Quarter = lambda df: df['Quarter'].str.replace('Sales_', ''))
    .sort_values(by=['Region', 'Product', 'Quarter'])
)

print ("Tidied Sales Data!")
df_sales_cleaned

Expanded df_sales DataFrame:
     Product   Region  Sales_Q1  Sales_Q2  Sales_Q3  Sales_Q4
0   Widget A    North     100.0     110.0     105.0     115.0
1   Widget B    South     200.0       NaN     205.0     215.0
2   Widget A    North     100.0     110.0     105.0     115.0
3   Widget C     East     150.0     160.0       NaN     165.0
4   Widget B    South       NaN     210.0     215.0     225.0
5   Widget A    North     100.0     110.0     105.0       NaN
6   Widget D     West     180.0     185.0     175.0     190.0
7   Widget E     East     210.0     220.0     205.0     215.0
8   Widget C  Central     140.0     150.0     145.0     155.0
9   Widget D    North     190.0     200.0     195.0     205.0
10  Widget B     West     205.0     215.0     210.0     220.0
11  Widget E    South     220.0     230.0     225.0     235.0
Tidied Sales Data!

     Product   Region Quarter  Sales
7   Widget C  Central      Q1  140.0
18  Widget C  Central      Q2  150.0
29  Widget C  Central      Q3  145.0
40  Widget C  Central      Q4  155.0
2   Widget C     East      Q1  150.0
13  Widget C     East      Q2  160.0
24  Widget C     East      Q3    0.0
35  Widget C     East      Q4  165.0
6   Widget E     East      Q1  210.0
17  Widget E     East      Q2  220.0
28  Widget E     East      Q3  205.0
39  Widget E     East      Q4  215.0
0   Widget A    North      Q1  100.0
4   Widget A    North      Q1  100.0
11  Widget A    North      Q2  110.0
15  Widget A    North      Q2  110.0
22  Widget A    North      Q3  105.0
26  Widget A    North      Q3  105.0
33  Widget A    North      Q4  115.0
37  Widget A    North      Q4    0.0
8   Widget D    North      Q1  190.0
19  Widget D    North      Q2  200.0
30  Widget D    North      Q3  195.0
41  Widget D    North      Q4  205.0
1   Widget B    South      Q1  200.0
3   Widget B    South      Q1    0.0
12  Widget B    South      Q2    0.0
14  Widget B    South      Q2  210.0
23  Widget B    South      Q3  205.0
25  Widget B    South      Q3  215.0
34  Widget B    South      Q4  215.0
36  Widget B    South      Q4  225.0
10  Widget E    South      Q1  220.0
21  Widget E    South      Q2  230.0
32  Widget E    South      Q3  225.0
43  Widget E    South      Q4  235.0
9   Widget B     West      Q1  205.0
20  Widget B     West      Q2  215.0
31  Widget B     West      Q3  210.0
42  Widget B     West      Q4  220.0
5   Widget D     West      Q1  180.0
16  Widget D     West      Q2  185.0
27  Widget D     West      Q3  175.0
38  Widget D     West      Q4  190.0

In [6]:
import seaborn as sns
# Create a pivot table that calculates the sum of sales per Product per Region
pivot_sales = pd.pivot_table(
    df_sales_clean,
    values='Sales',
    index=['Product', 'Region'],
    columns='Quarter',
    aggfunc='sum',
    fill_value=0
)

print("Pivot Table of Average Sales:")
print(pivot_sales)

Pivot Table of Average Sales:
Quarter              Q1     Q2     Q3     Q4
Product  Region
Widget A North    200.0  220.0  210.0  115.0
Widget B South    200.0  210.0  420.0  440.0
         West     205.0  215.0  210.0  220.0
Widget C Central  140.0  150.0  145.0  155.0
         East     150.0  160.0    0.0  165.0
Widget D North    190.0  200.0  195.0  205.0
         West     180.0  185.0  175.0  190.0
Widget E East     210.0  220.0  205.0  215.0
         South    220.0  230.0  225.0  235.0